.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);


  

}

* {
 margin: 0;
 padding: 0;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.search-bar{
  width:50%;
  border: none;
  padding: 10px;
  font-size: 15px;
}

.search-button{
  background-color:black;
  border: none;
  padding: 10px 20px;
  color:azure;
  font-size: 15px;

}

.recipes{
  /* display:flex;
  justify-content: space-around;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.creator{
  font-size: 25px;
  color:blue;
}

.title-wrapper {
  display: flex;
  justify-content: center;

}

.title{
  align-items: center;
  

}